[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart={{ prometheus_install_dir }}/prometheus \
  --config.file={{ prometheus_install_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --storage.tsdb.retention.time={{ prometheus_retention_days }}d \
  --web.console.templates={{ prometheus_install_dir }}/consoles \
  --web.console.libraries={{ prometheus_install_dir }}/console_libraries \
  --web.listen-address=:{{ prometheus_port }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target